.player-box-design
{
    border: 2px solid black;
    margin-bottom: 20px;
}
.player-box-design img
{
    border-radius: 50%;
    width: 70%;
}
.player-details
{
   
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
}